.LoginSignupDiv{
    color: white;
    cursor: pointer;
}
.LoginSignupDiv p{
    font-size: 17px;
}
.selected{
     background-color: white;
     color: #3273F5;
    padding: 6px 6px 6px 8px;
    cursor: pointer;
    border-radius: 5px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}