.TaskBoard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    padding: 20px;
}
.TaskLayout{
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding: 10px;
}

@media(max-width:822px){
    .TaskLayout{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:520px){
    .TaskLayout{
        grid-template-columns: repeat(1,1fr);
    }
}