.SearchContainner{
    display: flex;
    align-items: center;
}
.SearchContainner input{
    width: 280px;
    padding: 6px;
    border: 1px solid rgb(212, 210, 210);
    outline: none;
    border-radius: 5px;
}

@media(max-width : 590px){
    .SearchContainner input{
        width: 190px;
    }
}